@import "tailwindcss";

/*@theme {
    --color-orange: #f2a233;
    --color-yellow: #f2a233;
    --color-beige: #ead2a1;
    --color-cyan: #89c0b5;
    --color-sky: #2f768d;
    --color-green: #63935b;
}*/