@import "tailwindcss";

/* Eigene Styles oder Fonts unten ergänzen */

@font-face {
  font-family: "Playwrite";
  src: url("./fonts/playwrite-de-la-v11-latin-regular.woff2") format("woff2");
}
@font-face{
  font-family: "Lavishly-Yours";
  src: url("./fonts/lavishly-yours-v7-latin-regular.woff2") format("woff2");
}

h2, .niceFont {
  font-family: "Playwrite";
}
.greetName {
  font-family: sans-serif;
}
/* @theme {
    --color-orange: #f2a233;
    --color-yellow: #f2a233;
    --color-beige: #ead2a1;
    --color-cyan: #89c0b5;
    --color-sky: #2f768d;
    --color-green: #63935b;
} */